@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    text-transform: capitalize;
    animation: all 0.38s ease;
    text-decoration: none;
}

:root {
    --color-blue: #29d9d5;
    --color-black: #111;
    --color-light-grey: #aaa;
    --color-bg-color: #252525;
    --color-white: #fff;
    --black-bg: rgba(17, 17, 17, 0.7);
    --border: 0.2rem solid var(--color-blue);
}

html {
    font-size: 67.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding: 9rem;
}

::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-track {
    background: var(--color-black);
}
::-webkit-scrollbar-thumb {
    background: var(--color-blue);
}

body {
    background: var(--color-black);
    overflow-x: hidden;
}

section {
    padding: 3rem 9%;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: var(--color-blue);
    border: var(--border);
    background: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 1s ease;
}
.btn:hover {
    background-color: var(--color-blue);
    color: var(--color-bg-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--color-bg-color);
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 1.5rem 9%;
    font-size: 1.2rem;
}

.logo {
    font-size: 2.5rem;
    color: var(--color-white);
}
.logo i {
    color: var(--color-blue);
    padding-right: 0.5rem;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--color-light-grey);
    display: inline-block;
    margin: 0 1rem;
}
.navbar a:hover {
    color: var(--color-blue);
}

#menu-btn {
    font-size: 2.5rem;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

/* ------------------------home section-------------------------- */
.home {
    margin: 0 auto;
    margin-top: 9rem;
    width: 90%;
    border-radius: 1rem;
    background: linear-gradient(var(--black-bg), var(--black-bg)),
        url(../images/beach.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    padding-bottom: 5rem;
}
.home .content {
    text-align: center;
}
.home .content span {
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 0.1rem var(--color-white);
    font-size: 4vw;
    display: block;
}
.home .content h3 {
    font-size: 6vw;
    color: var(--color-white);
}
.home .content p {
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: var(--color-light-grey);
    line-height: 2;
}
/* ---------------------book-form----------------------- */
.book-form {
    width: 80%;
    margin: 1rem auto;
    margin-top: -5rem;
    background: var(--color-bg-color);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
}
.book-form form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1.5;
    padding: 3rem 2rem;
}
.book-form form .inputBox {
    flex: 1 1 25rem;
    margin: 0.6rem;
}
.book-form form .inputBox span {
    font-size: 1.4rem;
    color: var(--color-light-grey);
}
.book-form form .inputBox input {
    margin: 0.4rem 0 0;
    width: 98%;
    padding: 1.2rem 1.4rem;
    border-radius: 5rem;
    border: var(--border);
    font-size: 1.6rem;
    color: var(--color-light-grey);
    text-transform: none;
    background: none;
}
.book-form form .btn {
    flex: 1 1 15rem;
}

/* ---------------------media qurie------------------- */

@media screen and (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 768px) {
    #menu-btn {
        display: block;
    }
    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--color-bg-color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar a {
        margin: 2rem;
        display: block;
        font-size: 2rem;
    }
    .navbar.active {
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
        animation: menuDown 1.8s ease forwards;
    }
    /******home************/
    .home .content span {
        font-size: 8vw;
    }
    .home .content h3 {
        font-size: 9vw;
    }

    /* ------------keyframe-------------- */
    @keyframes menuDown {
        30% {
            /* clip-path: polygon(0 0, 100% 0, 64% 44%, 32% 44%); */
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
        }
        /* 60% {
            clip-path: polygon(0 0, 100% 0, 70% 54%, 50% 91%);
        } */
        100% {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }
}

/* for mobile */
@media screen and (max-width: 991px) {
    html {
        font-size: 50%;
    }
}
